services:
  # --- SERVICIO BACKEND ---
  backend:
    build: ./backend
    container_name: pi_backend
    ports:
      - "3001:3001" # Mapeamos puerto 3001 del PC al 3001 del contenedor
    dns:
      - 8.8.8.8
      - 8.8.4.4
    environment:
      - MONGODB_URI=${MONGODB_URI} # Leerá esto de tu archivo .env o del sistema
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
    volumes:
      - ./backend:/app # Hot Reload: Lo que edites en tu PC se ve en Docker
      - ./backend/uploads:/app/uploads # Persistencia: Las fotos no se borran al apagar
      - /app/node_modules # Evita que tu node_modules local machaque el de linux

  # --- SERVICIO FRONTEND ---
  frontend:
    build: ./frontend
    container_name: pi_frontend
    ports:
      - "3000:3000" 
    volumes:
      - ./frontend:/app # Hot Reload para Vue
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true # Necesario a veces en Windows/Docker para que detecte cambios
    depends_on:
      - backend # Espera a que el backend arranque un poco

  # --- SERVEI RABBITMQ (Cua de missatges) ---
  rabbitmq:
    image: rabbitmq:3-management
    container_name: pi_rabbitmq
    ports:
      - "5672:5672"   # Port comunicació
      - "15672:15672" # Panell de control web (usuari: guest / guest)
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 30s
      timeout: 10s
      retries: 5

  # --- SERVEI IA LOCAL (Llama.cpp Server) ---
  llm:
    image: ghcr.io/ggerganov/llama.cpp:server
    container_name: pi_llm
    volumes:
      - ./backend/models:/models # Mapegem la carpeta on has posat el fitxer .gguf
    ports:
      - "8080:8080"
    # Ajusta el nom del fitxer .gguf si és diferent
    command: -m /models/Llama-3.2-3B-Instruct-Q4_K_M.gguf -c 8192 --host 0.0.0.0 --port 8080