version: '3.8'

services:
  # --- SERVICIO BACKEND ---
  backend:
    build: ./backend
    container_name: pi_backend
    ports:
      - "3001:3001" # Mapeamos puerto 3001 del PC al 3001 del contenedor
    # --- AFEGIT: DNS per evitar errors de connexió EAI_AGAIN ---
    dns:
      - 8.8.8.8
      - 8.8.4.4
    environment:
      - MONGODB_URI=${MONGODB_URI} # Leerá esto de tu archivo .env o del sistema
      - VITE_HF_ACCESS_TOKEN=${VITE_HF_ACCESS_TOKEN}
    volumes:
      - ./backend:/app # Hot Reload: Lo que edites en tu PC se ve en Docker
      - ./backend/uploads:/app/uploads # Persistencia: Las fotos no se borran al apagar
      - /app/node_modules # Evita que tu node_modules local machaque el de linux

  # --- SERVICIO FRONTEND ---
  frontend:
    build: ./frontend
    container_name: pi_frontend
    ports:
      - "3000:3000" 
    volumes:
      - ./frontend:/app # Hot Reload para Vue
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true # Necesario a veces en Windows/Docker para que detecte cambios
    depends_on:
      - backend # Espera a que el backend arranque un poco

# No necesitamos servicio de Mongo porque usas Atlas (Nube)