services:
  # --- SERVICIO BACKEND ---
  backend:
    build: ./backend
    restart: unless-stopped
    container_name: pi_backend
    ports:
      - "3001:3001" 
    dns:
      - 8.8.8.8
      - 8.8.4.4
      - 1.1.1.1
    env_file:
      - ./backend/.env
    environment:
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
    volumes:
      - ./backend:/app 
      - ./backend/uploads:/app/uploads 
      - /app/node_modules 
    depends_on:
      rabbitmq:
        condition: service_healthy
      llm:
        condition: service_healthy

  # --- SERVICIO FRONTEND ---
  frontend:
    build: ./frontend
    restart: unless-stopped
    container_name: pi_frontend
    ports:
      - "3000:3000" 
    volumes:
      - ./frontend:/app 
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true 
    depends_on:
      - backend 

  # --- SERVEI RABBITMQ (Cua de missatges) ---
  rabbitmq:
    image: rabbitmq:3-management
    restart: unless-stopped
    container_name: pi_rabbitmq
    ports:
      - "5672:5672"   
      - "15672:15672" 
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - ./backend/rabbitmq_data:/var/lib/rabbitmq 

  # --- SERVEI IA LOCAL (Llama.cpp Server) ---
  llm:
    build:
      context: ./backend
      dockerfile: Dockerfile.llm
    restart: unless-stopped
    container_name: pi_llm
    volumes:
      - ./backend/models:/models 
    ports:
      - "8080:8080"
    # --- CONFIGURACIÓ GPU (Descomentar si tens NVIDIA) ---
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: 1
    #           capabilities: [gpu]
    
    # Comanda dynamic per adaptar-se al hardware (Llegeix del .env)
    # NOTA: He tret '-fa' per seguretat en CPUs antigues.
    command: -m /models/Llama-3.2-3B-Instruct-Q4_K_M.gguf -c ${AI_CONTEXT_SIZE:-4096} -ctk q8_0 -ctv q8_0 --host 0.0.0.0 --port 8080 --threads ${AI_THREADS:-2} --batch-size 256 --n-predict 1024 --cont-batching
    
    # Relaxem el healthcheck per evitar que Docker el mati si està pensant molt fort
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      interval: 30s
      timeout: 60s
      retries: 10