version: '3.8'

services:
  # --- SERVICIO BACKEND ---
  backend:
    build:
      context: ./backend         # Carpeta del contexto
      dockerfile: Dockerfile.dev # Archivo específico
    container_name: pi_backend
    ports:
      - "3001:3001"
    env_file:
      - .env
    volumes:
      - ./backend:/app
      - ./backend/uploads:/app/uploads
      - /app/node_modules

  # --- SERVICIO FRONTEND ---
  frontend:
    build:
      context: ./frontend        # Carpeta del contexto
      dockerfile: Dockerfile.dev # Archivo específico
    container_name: pi_frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend

# No necesitamos servicio de Mongo porque usas Atlas (Nube)
