version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    container_name: pi_frontend_prod
    restart: always
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    container_name: pi_backend_prod
    restart: always
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - OLLAMA_HOST=http://ollama:11434 
    volumes:
      - ./backend_uploads_prod:/app/uploads
    depends_on:
      - rabbitmq
      - ollama

  rabbitmq:
    image: rabbitmq:3-alpine
    container_name: rabbitmq
    restart: always

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: always
    volumes:
      - ollama_storage:/root/.ollama

volumes:
  ollama_storage: